*.cmd
*.exe
*/__pycache__*
*/.vscode*
.vscode/
*/.idea*
*/.git*
*/.gitignore*
*/.gitattributes*
*/.gitmodules*
*/.gitkeep*
*/.gitlab-ci.yml*
*/.gitlab*
*/.github

Pixel_NeRF/pollen_augmented/*
.venv
__pycache__/
.env
*.log
/data/raw/*.stl
/data/processed/*
/data/*.obj
/data/*.mtl
/data/*.png
/data/*.jpg
/data/*.jpeg
/data/*.vsi
**.stl
**.npz
*/.jupyter_cache
sequoia/Pixel2MeshPlusPlus/data/pollen/*

lightning_logs/
wandb/
*.ckpt

**/outputs

.DS_Store

!requirements.txt
!Pixel_Nerf/requirements.txt


Pixel_Nerf/pollen/*
*/checkpoints/*

*.jpg
*.png
*.gif




Vanilla_Nerf/*.txt
Vanilla_Nerf/data/*
Pixel_NeRF/*.txt
Pixel_NeRF/pollen/*.png
Pixel_NeRF/pollen/*.txt
*.png
Pixel_Nerf/pollen.zip
Pixel_Nerf/pollen_128/
Pixel_Nerf/readme-img/paper_teaser.jpg
Pixel_Nerf/readme-img/paper_teaser.jpg
/Hunyuan3D-2/data
*.glb
SparseFusion/data/co3d_toy/apple/apple_toy.pt
SparseFusion/output/demo/apple_000_c2.pt
Pixel_Nerf/pollen_augmented/256_res.zip
.gitignore
Pixel_Nerf/pollen_augmented/256_res/pollen_train/17767_Common_knapweed_Centaurea_nigra_pollen_grain_asymmetry_1/intrinsics.txt

Pixel_Nerf/pollen_augmented/256_res/*
Pixel_Nerf/pollen_augmented/256_res/**
*.bin
InstantMesh/pollen/pollen_train/*

InstantMesh/pollen/*
pretrained/*
reconstruction/
Pixel_Nerf/pollen_augmented/**
Pixel2MeshPlusPlus/data/pollen/test/17767_Common_knapweed_Centaurea_nigra_pollen_grain_00/mesh/model.obj
Pixel2MeshPlusPlus/data/*.txt

Pixel2MeshPlusPlus/data/*.png
Pixel2MeshPlusPlus/data/*.npz
Pixel2MeshPlusPlus/*.obj
Pixel2MeshPlusPlus/*.txt
Pixel2MeshPlusPlus/data/pollen/**
Pixel2MeshPlusPlus/data/pollen_pretty_ggod/**
*.ckpt*
init_elli
Pixel2MeshPlusPlus/results/coarse_mvp2m/plt_back/*/init_ellipsoid
Pixel2MeshPlusPlus/results/coarse_mvp2m/coarse_intermediate/25/
*.xyz
checkpoint*
Pixel2MeshPlusPlus/results/refine_p2mpp/plt/*
Pixel2MeshPlusPlus/results/refine_p2mpp/summaries/events.out.tfevents.1749345670.server0092train
/data/pollen_augmented
*.obj
Pixel2MeshPlusPlus/data/pollen_low_res/*
Pixel2MeshPlusPlus/results/coarse_mvp2m/*
Pixel2MeshPlusPlus/results/refine_p2mpp_3_inputs/*
/Vanilla_Nerf/data_back
*.mp4
Pixel2MeshPlusPlus/data/pollen_augmented/*
Pixel2MeshPlusPlus/results/refine_p2mpp_2_inputs/*
predictions/
Pixel2MeshPlusPlus/data/pollen_test/*
Pixel2MeshPlusPlus/results/coarse_mvp2m_6_inputs/*
Pixel2MeshPlusPlus/results/refine_p2mpp_6_inputs/logs/*
Pixel2MeshPlusPlus/results/refine_p2mpp_augmentation_2_inputs/*
Pixel2MeshPlusPlus/results/*
*.xyz.npy
*.npy
*.xyz
*TestEvaluationPipeline/*.txt

*.stl
*train

*.txt
tex/fhnw_ht_eit_latex_template.aux
tex/fhnw_ht_eit_latex_template.bbl
tex/fhnw_ht_eit_latex_template.bcf
tex/fhnw_ht_eit_latex_template.blg
tex/fhnw_ht_eit_latex_template.fdb_latexmk
tex/fhnw_ht_eit_latex_template.fls
tex/fhnw_ht_eit_latex_template.lof
tex/fhnw_ht_eit_latex_template.lot
tex/fhnw_ht_eit_latex_template.out
tex/fhnw_ht_eit_latex_template.pdf
tex/fhnw_ht_eit_latex_template.run.xml
tex/fhnw_ht_eit_latex_template.synctex.gz
tex/fhnw_ht_eit_latex_template.tex
tex/fhnw_ht_eit_latex_template.toc
tex/fhnwheader.tex
tex/fhnwreport.cls
tex/graphics/3dargmax.pdf
tex/graphics/FHNW_HSI_DE.pdf
tex/graphics/FHNW_HSI_DE.svg
tex/graphics/FHNW_HSI_EN.pdf
tex/graphics/FHNW_HSI_EN.svg
tex/graphics/FHNW_HTU_DE.pdf
tex/graphics/FHNW_HTU_DE.svg
tex/graphics/FHNW_HTU_EN.pdf
tex/graphics/FHNW_HTU_EN.svg
tex/graphics/pixelnerf_architecture.pdf
tex/graphics/tikz_models/pix2vox.tex
tex/graphics/tikz_models/pixel2meshplusplus_testphase.tex
tex/graphics/tikz_models/pixel2meshplusplus.tex
tex/graphics/tikz_models/pixelnerf.tex
tex/graphics/tikz_models/visual_hull.tex
tex/literature/references.bib
tex/sections/abstract.aux
tex/sections/abstract.tex
tex/sections/appendix.aux
tex/sections/appendix.tex
tex/sections/authenticity.aux
tex/sections/authenticity.tex
tex/sections/conclusion.aux
tex/sections/conclusion.tex
tex/sections/data_preprocessing.aux
tex/sections/data_preprocessing.tex
tex/sections/discussion_limitations.aux
tex/sections/discussion_limitations.tex
tex/sections/experiments_results.aux
tex/sections/experiments_results.tex
tex/sections/future_work.aux
tex/sections/future_work.tex
tex/sections/introduction.aux
tex/sections/introduction.tex
tex/sections/models_eval_procedures.aux
tex/sections/models_eval_procedures.tex
tex/sections/related_work.aux
tex/sections/related_work.tex
